.searchbar {
  position: relative;
  max-width: 400px;
  width: 100%;
  flex-grow: 1;
}

.searchbar i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.searchInput {
  width: 100%;
  padding: 8px 10px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
