.footer {
  display: flex;
  justify-content: space-between;
  background-color: #232f3e;
  color: white;
  padding: 5px;
  flex-wrap: wrap;
}

.footer div {
  flex: 1;
  min-width: 200px;
  padding: 5px;
}

.footer h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.footer p {
  line-height: 1.6;
  font-size: 18px;
}
